---
layout: default
title: Home
---
{% for post in site.posts %}
<article>
  <header>
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %d, %Y" }}
      </time>
      {% for tag in post.tags %}
        {% assign tag_icon = site.data.tag_icons[tag] | default: "heart" %}
        <a href="{{ '/tags/' | append: tag | append: '/' | relative_url }}" class="tag" title="{{ tag }}">
          <svg class="icon"><use href="{{ '/assets/icons.svg#icon-' | append: tag_icon | relative_url }}"></use></svg>
        </a>
      {% endfor %}
    </p>
  </header>
  {% if post.excerpt %}
    {{ post.excerpt }}
  {% endif %}
</article>
{% endfor %}

{% if site.posts.size == 0 %}
<p>No articles yet.</p>
{% endif %}
