/**
 * Site header
 */
.site-header {
    margin-bottom: $base-line-height -4px;
    border-top: 4px solid $grey-color-dark; /*rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid $grey-color-light;
    min-height: $base-line-height * 2;
    padding-bottom: 14px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: $base-font-size * 3 ;
    line-height: $base-line-height * 2;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        padding-bottom: 0px;
    }
}

.site-nav {
    float: right;
    line-height: $base-line-height * 2;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    xborder-top: 1px solid $grey-color-light;
    margin-bottom: $base-line-height;
}

.footer-heading {
    padding-top: 5px;
    margin-bottom: $base-line-height - 5px;

    font-size: $base-font-size;
    line-height: $base-line-height;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $base-line-height;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
}

.page-heading {
    padding-top: 5px;
    font-size: 20px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height - 5px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    h2 {
        display: inline-block;
        padding-top: 3px;
        margin-bottom: $base-line-height - 3px;
    }
}

/* note: this starts 5px below */
.post-meta {
    padding-top: 3px;
    font-size: $base-font-size * 0.875;
    color: $grey-color;
    margin-bottom: $base-line-height - 3px - 5px;
}

.post-link {
    display: inline-block;
    font-size: 24px;
}

.presentation-link {
    xdisplay: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
}

.post-title {
    padding-top: 4px;
    font-size: $base-font-size * 1.5;
    letter-spacing: -1px;
    line-height: $base-line-height;
    margin-bottom: 0;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {

    p {
        padding-top: 6px;
        margin-bottom: $base-line-height - 6px;
    }
    ul {
        padding-top: 6px;
        margin-bottom: $base-line-height - 6px;
    }
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
