/**
 * Site header
 */
header {
    margin-top: $base-line-height; /* have avoided margin-top everywhere else :( */
    margin-bottom: $base-line-height;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid $grey-color-light;
    min-height: $base-line-height * 5;

    // Positioning context for the mobile navigation icon
    position: relative;

        div, h1, p {
            margin-left: 0;
            padding-left: 0;
        }

    .site-title {
            font-family: $header-font-family;
            font-size: $base-font-size * 2.8;
            padding-top: $base-line-height;
            // note, note setting line-height, manually doing work
            font-weight: 100;
    }

    .post-title {
        font-size: $base-font-size *1.5;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .post-meta {
        //note: bleeds into bottom
        padding-top: 1px;
        font-size: $base-font-size * 0.875;
        color: $grey-color;
        margin-bottom: $base-line-height - 1px - 6px;
    }

    img {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
        float: left;
    }
}


/**
 * Site footer
 */
footer {
    border-top: 1px solid $grey-color-light;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: $base-line-height;
}

.footer-heading {
    padding-top: 5px;
    margin-bottom: $base-line-height - 5px;

    font-size: $base-font-size;
    line-height: $base-line-height;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $base-line-height;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

p, ul {
    @include padded-line-height($base-font-size, 6px)
}
.page-content {
    margin-right: 0;
    margin-left: 0;
}

.page-heading {
    padding-top: 5px;
    font-size: 20px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
}

.post-list {
    margin-left: 0;
    margin-right: 0;
    h2 {
        //include padded-line-height(24px, 6px, - $base-line-height);
        xpadding-top: 7px;
        font-size: 24px;
        line-height: $base-line-height;
        margin-bottom: 0px;
        xdisplay: inline-block;
    }
    .post-meta {
        //note: bleeds 6 pixels from h2
        padding-top: 1px;
        font-size: $base-font-size * 0.875;
        color: $grey-color;
        margin-bottom: $base-line-height - 7px;
    }

    .post {
      display: inline-block;
      position: relative;
      margin: 24px;
      width: 192px;
      height: 240px;
    }

    img {
      display: block;
      xposition: absolute;
      z-index: 10;
    }
    .tag {
      display: inline-block;
      xright: 0;
      xtransform: rotate(45deg);
      xposition: absolute;
      z-index: 100;
      xbackground: #333;
      padding-top: 6px;
      margin-bottom:0px;
      padding-right: 6px;
    }
    .tag::after { content: ", "}
}

/**
 * Posts
 */
.post-header {
}

// .post-title {
//     padding-top: 4px;
//     font-size: $base-font-size * 1.5;
//     letter-spacing: -1px;
//     line-height: $base-line-height;
//     margin-bottom: 0;

//     @include media-query($on-laptop) {
//         font-size: 36px;
//     }
// }

.post-content {

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
