---
layout: default
title: All
---
<div class="home post-list">
{% for post in site.posts reversed %}
  <div class="post">
    {% comment %}
    <a class="{{post.layout}}-link" href="{{ post.url | prepend: site.baseurl }}"><img src="{%if post.img%}{{post.img}}{% else %}http://dummyimage.com/192x192/ccc/333.png&amp;text=demo{% endif%}"></a>
    {% endcomment %}
    {% for category in post.categories %}<span class="tag">{{ category }}</span>{% endfor %}{% for tag in post.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
    <h2>
      <a class="{{post.layout}}-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
  </div>
{% endfor %}
</div>
