---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
      {% for tag in page.tags %}
        {% assign tag_icon = site.data.tag_icons[tag] | default: "heart" %}
        <a href="{{ '/tags/' | append: tag | append: '/' | relative_url }}" class="tag" title="{{ tag }}">
          <svg class="icon"><use href="{{ '/assets/icons.svg#icon-' | append: tag_icon | relative_url }}"></use></svg>
        </a>
      {% endfor %}
    </p>
  </header>
  
  {{ content }}
</article>
