---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/pico-2.0.6.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/theme.css' | fingerprint }}">
  <link rel="stylesheet" href="{{ '/assets/reveal-5.1/reset.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/reveal-5.1/reveal.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/reveal-5.1/theme/simple.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | fingerprint }}">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
        {{ content
          | replace: "<hr />", "</section><section>"
          | replace: "<p>++</p>", "<section>"
          | replace: "<p>–</p>", "</section>"
        }}
      </section>
    </div>
  </div>

  <script src="{{ '/assets/reveal-5.1/reveal.js' | relative_url }}"></script>
  <script>
    Reveal.initialize({
      hash: true,
      history: true,
      controls: true,
      progress: true,
      center: {{ page.center | default: true }},
      transition: '{{ page.transition | default: "slide" }}'
    });
  </script>
</body>
</html>
