---
layout: default
---
{% capture icons_path %}{% ministamp _assets/icons.svg /assets/icons.svg %}{% endcapture %}
<h1><svg class="icon"><use href="{{ icons_path }}#icon-{{ page.tag }}"></use></svg>{{ page.title }}</h1>

{% if page.description %}
<p>{{ page.description }}</p>
{% endif %}

{% assign tag_posts = site.posts | where_exp: "post", "post.tags contains page.tag" %}

{% for post in tag_posts %}
{% include post-summary.html post=post %}
{% endfor %}

{% if tag_posts.size == 0 %}
<p>No articles with this tag yet.</p>
{% endif %}
