---
layout: null
---
<!DOCTYPE html>
<html>
  <head>
{% include head.html %}
    <link rel="stylesheet" href="{{ "/css/reveal.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/theme/default.css" | prepend: site.baseurl }}">
    <script src="/js/reveal.js"></script>
  </head>
  {% comment %}
  reveal has the concept of vertical and horrizontal slides.
  I needed to add the concept of "next slide" to markdown - currently using "---"
  I needed to add the concept of sub sections to markdown - currently using ++ / --
  Since markdown already massages these, I needed to be a little creative with the filters
  {% endcomment %}
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          {{ content | replace: "<hr />", "</section><section>" | replace: "<p>++</p>", "<section>" | replace: "<p>–</p>", "</section>"}}
        </section>
      </div>
    </div>

    {% comment %}
    TODO: use our standard margins and stuff:

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    TODO: reveal used headjs. see if it works
  <!-- reveal.js -->
  <!-- head.min.js : headjs.com -->

    {% endcomment %}
  <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: false,
        overview: true,
        history: true,
        center: {{ page.vertical_center | default: "true" }},
        touch: true,
        theme: 'minimal', // available themes are in /css/theme
        transition: 'slide' // none/fade/slide/convex/concave/zoom
      });
  </script>
  </body>
</html>
